.principal-news {
    width: 480px;
    font-family: var(--principal-font);
}

.principal-news h2 {
    color: var(--gray);
}

.news-img-example {
    min-width: 550px;
    min-height: 350px;
    max-width: 550px;
    max-height: 350px;
    margin-bottom: 20px;
}

.principal-news p, span {
    text-align: justify;
    color: var(--darkGray);
}

.news-infos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}