.news-img-example {
    min-width: 300px;
    max-width: 300px;
    min-height: 180px;
    max-height: 180px;
    margin-right: 15px;
}

.vertical-news-card, span, p, h2 {
    background-color: var(--white);
}

.vertical-news-card p {
    text-align: justify;
    color: var(--darkGray);
}

.vertical-news-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 300px;
}

.news-infos {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
}