<header>
    <div class="header-container">

        <div class="header-nav">
            <span class="user-icon">
                <p>D</p>
            </span>

            <a href="#">LEARN</a>
            <a href="#">BLOG</a>
            <a href="#">BOOKMARKERS</a>
            <a href="#">UI KIT</a>
            <a href="#">LAIN NYA</a>
        </div>

        <div class="header-links">
            <a href=""><img src="" alt=""></a>
            <a href=""><img src="" alt=""></a>
            <a href=""><img src="" alt=""></a>
            <a href=""><img src="" alt=""></a>
        </div>

    </div>
</header>
