<app-header></app-header>

<app-title></app-title>

<main>
    <app-principal-news-card></app-principal-news-card>

    <div>
        <app-horizontal-news-card></app-horizontal-news-card>
        <app-horizontal-news-card></app-horizontal-news-card>
        <app-horizontal-news-card></app-horizontal-news-card>
    </div>
</main>

<div>
    <p>PILIHAN EDITOR</p>

    <div>
        <app-vertical-news-card></app-vertical-news-card>
        <app-vertical-news-card></app-vertical-news-card>
        <app-vertical-news-card></app-vertical-news-card>
        <app-vertical-news-card></app-vertical-news-card>
    </div>
</div>

<router-outlet></router-outlet>
