<app-header></app-header>

<app-title></app-title>

<main class="principal-content container">

  <div *ngFor="let card of principalCard">
        <app-principal-news-card [data]="card"></app-principal-news-card>
  </div>

  <aside class="aside-news">
    <div *ngFor="let card of horizontalCards">
        <app-horizontal-news-card [data]="card"></app-horizontal-news-card>
    </div>
  </aside>
</main>

<div class="other-news-box">
  <div class="container other-news-container">
    <p>PILIHAN EDITOR</p>

    <div class="other-news">
        <div *ngFor="let card of verticalCards">
            <app-vertical-news-card [data]="card"></app-vertical-news-card>
        </div>
    </div>
  </div>
</div>
