* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--black);
}

:root {
    --black: #121212;
    --white: #fff;
    --gray: #c2c2c2;
    --purple: #c92bb7;
    --orange: #ff7300;

    --principal-font: Arial, Helvetica, sans-serif
}